{% extends 'atcore/app_users/manage_resources.html' %}
{% load static %}

{% block buttons %}
    <div class="btn-toolbar top-action-btns float-end" role="toolbar" aria-label="Manage resources toolbar">
        {% if show_new_button and resources and is_app_admin %}
        <div class="btn-group">
            <a class="btn btn-outline-secondary manage-action-btn btn-new" href="{% url base_resource_href|add:'_new_resource' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="New"><i class="bi bi-plus-lg"></i></a>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block add_new_resource %}
    <div class="new-resource center-parent">
        <div class="centered">
            <h4>No {{ type_plural }} Found</h4>
            {% if show_new_button and is_app_admin %}
                <a class="btn btn-primary btn-huge" href="{% url base_resource_href|add:'_new_resource' %}">Add New {{ type_singular }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'tribs/css/manage_tutorials.css' %}" rel="stylesheet"/>
{% endblock %}